<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        .bookBtn{
            width: 81px; 
            height: 120px;
            padding: 0;
            border: 0;
            position: relative;
        }
        .bookimg{
            position:absolute;
            top: 0px;
            left: 0px;
        }
        .check-image{
            position:absolute;
            top: 44px;
            left: 24.5px;
        }
    </style> 
</head>
<body>
    
<div class="wrap">
    <div class="header">
        <button class="back_button" onclick="location.href='/signup/nickname={{nickname}}'"><img src="{% static 'images/back_idle.png' %}"></button>
        <div class="progress_bar_background"></div>
        <div class="Rectangle5255" style="width: 207px; height: 3px; left: 15px; top: 125px; position: absolute; background: #11CC58; border-radius: 41px"></div>
        <div class="Frame12553" style="left: 15px; top: 155px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
            <div style="font-size: 20px; font-weight: 600; line-height: 28px; word-wrap: break-word">{{nickname}}님이<br/>읽어본 책들을 골라주세요</div>
            <div style="color: #AAAAAA; font-size: 12px; font-weight: 500; line-height: 18px; word-wrap: break-word">최대 3개까지 선택이 가능합니다.</div>
        </div>
    </div>
    <div id="bookBtns" style="width: 345px; height: 503px; left: 15px; top: 275px; position: absolute; overflow: auto; justify-content: flex-start; align-items: flex-start; gap: 7px; flex-wrap: wrap; display: inline-flex">
        <button class="bookBtn" value="1" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33040/62/coversum/k622937684_2.jpg" /></button>
        <button class="bookBtn" value="2" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/30929/51/coversum/s302832892_3.jpg" /></button>
        <button class="bookBtn" value="3" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33180/70/coversum/k582937334_1.jpg" /></button>
        <button class="bookBtn" value="4" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33258/31/coversum/8988474910_1.jpg" /></button>
        <button class="bookBtn" value="5" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33213/38/coversum/k392937055_1.jpg" /></button>
        <button class="bookBtn" value="6" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33341/98/coversum/k222938702_1.jpg" /></button>
        <button class="bookBtn" value="7" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/32354/81/coversum/k342935366_1.jpg" /></button>
        <button class="bookBtn" value="8" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/32648/45/coversum/k072935654_1.jpg" /></button>
        <button class="bookBtn" value="9" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/31555/26/coversum/k832832758_1.jpg" /></button>
        <button class="bookBtn" value="10" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33275/70/coversum/8997743600_1.jpg" /></button>
        <button class="bookBtn" value="11" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33315/55/coversum/8934920998_1.jpg" /></button>
        <button class="bookBtn" value="12" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/31559/97/coversum/s102936816_3.jpg" /></button>
        <button class="bookBtn" value="13" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33034/23/coversum/k912937580_1.jpg" /></button>
        <button class="bookBtn" value="14" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33203/41/coversum/8954697356_1.jpg" /></button>
        <button class="bookBtn" value="15" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33065/59/coversum/8932475016_1.jpg" /></button>
        <button class="bookBtn" value="16" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33334/30/coversum/k722938698_1.jpg" /></button>
        <button class="bookBtn" value="17" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33251/30/coversum/k712938566_1.jpg" /></button>
        <button class="bookBtn" value="18" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33108/13/coversum/k112937821_2.jpg" /></button>
        <button class="bookBtn" value="19" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33119/32/coversum/8937454823_1.jpg" /></button>
        <button class="bookBtn" value="20" onclick="toggleButton(this)"><img class="bookimg" src="https://image.aladin.co.kr/product/33279/31/coversum/8925575434_1.jpg" /></button>
      </div>
    <button class="onboardingNxtBtn" id="bookSelctNxtBtn" onclick="location.href='/genreselect'" disabled>다음</button>
</div>
<script>
    let activeCount1 = 0;
    const nextBtn = document.getElementById("bookSelctNxtBtn");
    function toggleButton(button) {
        if (button.classList.contains("active")) {
            button.classList.remove("active");
            button.querySelector('.check-image').remove();
            activeCount1--;
            updateNextButton()
        } else {
            if (activeCount1 >= 3) {
                updateNextButton()
                return;
            }
            button.classList.add("active");
            const img = document.createElement('img');
            img.src = '{% static 'images/check.png' %}';
            img.classList.add('check-image');
            button.appendChild(img);
            activeCount1++;
            updateNextButton()
        }
    }
    function updateNextButton() {
        if (activeCount1 === 3) {
            nextBtn.disabled = false;
        } else {
            nextBtn.disabled = true;
        }
    }
</script>
</body>
</html>