<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
    </style>
    <script></script>       
</head>
<body>
<div class="wrap">
<div style="width: 375px; height: 812px; position: absolute; overflow: auto;background: #FAFAFA">
    <div style="left: 15px; top: 544px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
      <div style="width: 345px; height: 155px; position: relative">
        <div style="width: 50.46px; left: 32.96px; top: 136px; position: absolute; color: black; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">민경태</div>
        <img style="width: 24.72px; height: 24px; left: 0px; top: 131px; position: absolute;" src="{% static 'images/con1.png' %}" />
        <div style="width: 345px; height: 120px; left: 0px; top: 0px; position: absolute">
          <div style="width: 345px; height: 120px; left: 0px; top: 0px; position: absolute; background: #969696; border-radius: 6px"></div>
          <img style="width: 354px; height: 134px; left: -1px; top: -9px; position: absolute" src="{% static 'images/m1.png' %}" />
        </div>
      </div>
      <div style="width: 345px; height: 155px; position: relative">
        <div style="width: 50.46px; left: 32.96px; top: 136px; position: absolute; color: black; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">권송미</div>
        <img style="width: 24.72px; height: 24px; left: 0px; top: 131px; position: absolute;" src="{% static 'images/con2.png' %}" />
        <div style="width: 345px; height: 120px; left: 0px; top: 0px; position: absolute">
          <div style="width: 345px; height: 120px; left: 0px; top: 0px; position: absolute; background: #969696; border-radius: 6px"></div>
          <img style="width: 348px; height: 128px; left: 0px; top: -4px; position: absolute" src="{% static 'images/m2.png' %}" />
        </div>
      </div>
      <div style="width: 345px; height: 155px; position: relative">
        <div style="width: 50.46px; left: 32.96px; top: 136px; position: absolute; color: black; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">김하연</div>
        <img style="width: 24.72px; height: 24px; left: 0px; top: 131px; position: absolute;" src="{% static 'images/con2.png' %}" />
          <div style="width: 345px; height: 120px; left: 0px; top: 0px; position: absolute; background: #969696; border-radius: 6px"></div>
          <img style="width: 348px; height: 128px; left: 0px; top: -4px; position: absolute" src="{% static 'images/m2.png' %}" />
        </div>
      </div>
    
    <div style="width: 123.15px; height: 20.14px; left: 15px; top: 57.20px; position: absolute">
        <img src="{% static 'images/logo.png' %}">
    </div>
    <div style="width: 24px; height: 24px; left: 336px; top: 53px; position: absolute">
        <img src="{% static 'images/MagnifyingGlass.png' %}">
    </div>
    <div style="left: 15px; top: 165px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <img style="width: 137px; height: 202px" src="https://image.aladin.co.kr/product/31893/32/cover150/k212833749_2.jpg" />
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
        <div style="color: black; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">아몬드</div>
        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div style="color: #323232; font-size: 12px; font-family: Pretendard; font-weight: 500; line-height: 12px; word-wrap: break-word">손원평</div>
          <div style="width: 2px; height: 2px; background: #323232; border-radius: 9999px"></div>
          <div style="color: #323232; font-size: 12px; font-family: Pretendard; font-weight: 500; line-height: 12px; word-wrap: break-word">창비</div>
        </div>
      </div>
    </div>
    <div style="left: 168px; top: 165px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <img style="width: 137px; height: 202px" src="https://image.aladin.co.kr/product/29496/39/cover150/k202838509_3.jpg" />
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
        <div style="color: black; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">파친코</div>
        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div style="color: #323232; font-size: 12px; font-family: Pretendard; font-weight: 500; line-height: 12px; word-wrap: break-word">이민진</div>
          <div style="width: 2px; height: 2px; background: #323232; border-radius: 9999px"></div>
          <div style="color: #323232; font-size: 12px; font-family: Pretendard; font-weight: 500; line-height: 12px; word-wrap: break-word">문학사상</div>
        </div>
      </div>
    </div>
    <div style="left: 321px; top: 165px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <img style="width: 137px; height: 202px" src="https://image.aladin.co.kr/product/29137/2/cover500/8936434594_1.jpg" />
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
        <div style="color: black; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 14px; word-wrap: break-word">채식주의자</div>
        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div style="color: #323232; font-size: 12px; font-family: Pretendard; font-weight: 500; line-height: 12px; word-wrap: break-word">한강</div>
          <div style="width: 2px; height: 2px; background: #323232; border-radius: 9999px"></div>
          <div style="color: #323232; font-size: 12px; font-family: Pretendard; font-weight: 500; line-height: 12px; word-wrap: break-word">창비</div>
        </div>
      </div>
    </div>
    <div style="left: 15px; top: 103.43px; position: absolute; color: black; font-size: 16px; font-family: Pretendard; font-weight: 700; line-height: 24px; word-wrap: break-word">회원님을 위한<br/>맞춤 추천 도서를 확인해 보세요</div>
    <div>
    <div style="left: 15px; top: 492px; position: absolute; color: black; font-size: 16px; font-family: Pretendard; font-weight: 600; line-height: 24px; word-wrap: break-word">회원님의 취향과 비슷한 책장이예요</div>
    <div style="width: 24px; height: 24px; left: 280px; top: 492px; position: absolute">
        <img src="{% static 'images/refresh.png' %}">
    </div>
</div>

    <div style="width: 375px; height: 4px; left: 0px; top: 445px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 375px; height: 50px; padding-left: 12.50px; padding-right: 17.50px; padding-top: 7px; padding-bottom: 7px; left: 0px; top: 993px; position: absolute; background: #FAFAFA; justify-content: center; align-items: center; display: inline-flex">
      <div style="justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
        <div style="width: 44px; height: 36px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 20px; height: 20px; position: relative">
            <img src="{% static 'images/Home.png' %}">
          </div>
          <div style="width: 9px; color: #646464; font-size: 10px; font-family: Pretendard; font-weight: 400; line-height: 12px; word-wrap: break-word">홈</div>
        </div>
        <div style="width: 44px; height: 36px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 20px; height: 20px; position: relative">
            <img src="{% static 'images/purchase.png' %}">
          </div>
          <div style="width: 40px; color: #646464; font-size: 10px; font-family: Pretendard; font-weight: 400; line-height: 12px; word-wrap: break-word">구매하기</div>
        </div>
        <div style="width: 44px; height: 36px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 20px; height: 20px; position: relative">
            <img src="{% static 'images/sell.png' %}">
          </div>
          <div style="color: #646464; font-size: 10px; font-family: Pretendard; font-weight: 400; line-height: 12px; word-wrap: break-word">판매하기</div>
        </div>
        <div style="width: 44px; height: 36px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 20px; height: 20px; position: relative">
            <img src="{% static 'images/bookshelf.png' %}">
          </div>
          <div style="width: 50px; color: #646464; font-size: 10px; font-family: Pretendard; font-weight: 400; line-height: 12px; word-wrap: break-word">나만의책장</div>
        </div>
        <div style="width: 44px; height: 36px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 20px; height: 20px; position: relative">
            <img src="{% static 'images/mypage.png' %}">
          </div>
          <div style="width: 50px; color: #646464; font-size: 10px; font-family: Pretendard; font-weight: 400; line-height: 12px; word-wrap: break-word">마이페이지</div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>